[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[svn-remote "svn"]
	url = svn+ssh://svn.corp.yahoo.com/yahoo/users/ckoenig
	fetch = :refs/remotes/git-svn
[remote "laptop"]
    url = ssh://localhost:56230/~ckoenig/src/ckoenig
    fetch = :refs/remotes/laptop
