[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[svn-remote "svn"]
	url = svn+ssh://svn.corp.yahoo.com/yahoo/users/ckoenig
	fetch = :refs/remotes/git-svn
[remote "laptop"]
    url = ssh://localhost:56230/~ckoenig/src/ckoenig
    fetch = laptop:refs/remotes/laptop
    push = fineliberty:refs/remotes/fineliberty
[remote "languishes"]
    url = ssh://languishes.net/~ckoenig/src/ckoenig
    fetch = languishes:refs/remotes/languishes
    push = fineliberty:refs/remotes/fineliberty
