[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true

[svn-remote "svn"]
	url = svn+ssh://svn.corp.yahoo.com/yahoo/keystonecore/index/yellowstone
	fetch = trunk:refs/remotes/trunk

    branches = branches/YS-2.2-dev/*:refs/remotes/YS-2.2-dev/*
    branches = branches/YS-2.2-rel/*:refs/remotes/YS-2.2-rel/*
    branches = branches/YS-2.3-rel/*:refs/remotes/YS-2.3-rel/*
    branches = branches/YS-2.4-rel/*:refs/remotes/YS-2.4-rel/*
    branches = branches/YS-2.5-dev/*:refs/remotes/YS-2.5-dev/*
    branches = branches/YS-2.5-rel/*:refs/remotes/YS-2.5-rel/*
    branches = branches/YS-2.6-rel/*:refs/remotes/YS-2.6-rel/*
    branches = branches/YS-2.7-rel/*:refs/remotes/YS-2.7-rel/*
    branches = branches/YS-2.8-dev/*:refs/remotes/YS-2.8-dev/*
    branches = branches/YS-PROD-rel/*:refs/remotes/YS-PROD-rel/*
