[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	autocrlf = false

[svn-remote "svn"]
	url = svn+ssh://svn.corp.yahoo.com/yahoo/keystonecore/core
	fetch = RISe/trunk:refs/remotes/rise/trunk

    branches = RISe/branches/RISE-4.3.1-rel/*:refs/remotes/RISE-4.3.1-rel/*

    branches = RISe/branches/KS-2.3-dev/*:refs/remotes/KS-2.3-dev/*
    branches = RISe/branches/KS-2.3-rel/*:refs/remotes/KS-2.3-rel/*
    branches = RISe/branches/KS-2.4-rel/*:refs/remotes/KS-2.4-rel/*
    branches = RISe/branches/KS-2.5-dev/*:refs/remotes/KS-2.5-dev/*
    branches = RISe/branches/KS-2.5-rel/*:refs/remotes/KS-2.5-rel/*
    branches = RISe/branches/KS-2.6-dev/*:refs/remotes/KS-2.6-dev/*

    branches = RISe/branches/YS-0.2-rel/*:refs/remotes/YS-0.2-rel/*
    branches = RISe/branches/YS-0.3-rel/*:refs/remotes/YS-0.3-rel/*
    branches = RISe/branches/YS-0.5-rel/*:refs/remotes/YS-0.5-rel/*
    branches = RISe/branches/YS-1.0-rel/*:refs/remotes/YS-1.0-rel/*
    branches = RISe/branches/YS-1.2-rel/*:refs/remotes/YS-1.2-rel/*
    branches = RISe/branches/YS-1.3-rel/*:refs/remotes/YS-1.3-rel/*
    branches = RISe/branches/YS-1.4-rel/*:refs/remotes/YS-1.4-rel/*
    branches = RISe/branches/YS-1.5-rel/*:refs/remotes/YS-1.5-rel/*
    branches = RISe/branches/YS-1.6-rel/*:refs/remotes/YS-1.6-rel/*
    branches = RISe/branches/YS-1.7-rel/*:refs/remotes/YS-1.7-rel/*
    branches = RISe/branches/YS-1.8-rel/*:refs/remotes/YS-1.8-rel/*
    branches = RISe/branches/YS-1.9-rel/*:refs/remotes/YS-1.9-rel/*
    branches = RISe/branches/YS-2.0-rel/*:refs/remotes/YS-2.0-rel/*
    branches = RISe/branches/YS-2.1-rel/*:refs/remotes/YS-2.1-rel/*
    branches = RISe/branches/YS-2.2-rel/*:refs/remotes/YS-2.2-rel/*
    branches = RISe/branches/YS-2.5-rel/*:refs/remotes/YS-2.5-rel/*
    branches = RISe/branches/YS-2.6-rel/*:refs/remotes/YS-2.6-rel/*
    branches = RISe/branches/YS-2.7-rel/*:refs/remotes/YS-2.7-rel/*
    branches = RISe/branches/YS-2.8-rel/*:refs/remotes/YS-2.8-rel/*
    branches = RISe/branches/YS-2.9-rel/*:refs/remotes/YS-2.9-rel/*
    branches = RISe/branches/YS-3.0-rel/*:refs/remotes/YS-3.0-rel/*
