[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = ssh://pathwith.greatamerica.corp.yahoo.com/home/ckoenig/src/ysfe
[branch "diversity"]
	remote = origin
	merge = refs/heads/diversity
[svn-remote "svn"]
	url = svn+ssh://svn.corp.yahoo.com/yahoo/ysm/YSRise/frontend
    fetch = trunk:refs/remotes/ysfe-trunk
    branches = branches/YS-1.8-rel/*:refs/remotes/YS-1.8-rel/*
    branches = branches/YS-1.9-rel/*:refs/remotes/YS-1.9-rel/*
[branch "2.2-rel"]
	remote = origin
	merge = refs/heads/2.2-rel

[remote "languishes"]
    url = ssh://languishes.net/~ckoenig/src/ysfe
